# Data Preparation

### Sources

* Normalized GDP (monthly)
		https://fred.stlouisfed.org/  
		from 2000-01-01  
		to 2020-05-01

* Libor Rates (daily)
		https://fred.stlouisfed.org/  
		from 2001-01-02  
		to 2020-09-18

* Current Account to GDP (quarterly)
		https://stats.oecd.org/  
		from Q1-2000  
		to Q1-2020

* Forex (daily)
		https://www.federalreserve.gov/  
		from 2000-01-03  
		to 2020-08-21  
		AUD	EUR	NZD	GBP	BRL	CAD	CNY	DKK	HKD	INR	JPY	MYR	MXN	NOK	ZAR	SGD	KRW	LKR	SEK	CHF	TWD	THB	VEB

In [1]:
import numpy as np
import pandas as pd

## a. Foreign Exchange Rates

Forex or Parity. Showing the Exchange Rate prices of different currencies to US Dollar

In [2]:
# read the dataframe and assign the time column as the index values of the dataframe
file = "./DATA/forex.csv"
forex = pd.read_csv(file, index_col='Date', parse_dates=True)
forex

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.6591,1.0155,0.5254,1.627,1.805,1.4465,8.2798,7.329,7.7765,43.55,...,7.964,6.126,1.6563,1128,72.3,8.443,1.5808,31.38,36.97,0.6498
2000-01-04,0.6562,1.0309,0.5198,1.637,1.8405,1.4518,8.2799,7.218,7.7775,43.55,...,7.934,6.085,1.6535,1122.5,72.65,8.36,1.5565,30.6,37.13,0.6503
2000-01-05,0.655,1.0335,0.5171,1.6415,1.856,1.4518,8.2798,7.208,7.778,43.55,...,7.935,6.07,1.656,1135,72.95,8.353,1.5526,30.8,37.1,0.6515
2000-01-06,0.654,1.0324,0.5145,1.6475,1.84,1.4571,8.2797,7.2125,7.7785,43.55,...,7.94,6.08,1.6655,1146.5,72.95,8.3675,1.554,31.75,37.62,0.6503
2000-01-07,0.6548,1.0294,0.516,1.6384,1.831,1.4505,8.2794,7.2285,7.7783,43.55,...,7.966,6.057,1.6625,1138,73.15,8.415,1.5623,30.85,37.3,0.6508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-17,0.7211,1.1869,0.6547,1.3105,5.4734,1.3202,6.9318,6.2727,7.7503,74.74,...,8.8633,17.46,1.3679,1184.17,183.13,8.6918,0.9058,29.38,31.15,293920.7455
2020-08-18,0.7235,1.1928,0.6588,1.3228,5.4845,1.3181,6.9215,6.2406,7.7501,74.62,...,8.8387,17.3525,1.3647,1184.74,184.23,8.6481,0.9029,29.39,31.16,289550.7506
2020-08-19,0.7234,1.1898,0.6607,1.3191,5.5045,1.3173,6.9192,6.258,7.75,74.85,...,8.8504,17.18,1.366,1181.06,186.1,8.6574,0.9114,29.37,31.25,291796.8124
2020-08-20,0.7178,1.1862,0.6519,1.319,5.637,1.3177,6.9143,6.2783,7.75,75.01,...,8.9437,17.275,1.3676,1187.66,184.35,8.706,0.9082,29.42,31.41,296027.271
2020-08-21,0.7156,1.1775,0.6533,1.3098,5.5949,1.3201,6.9179,6.3235,7.7502,74.92,...,9.0457,17.1275,1.3723,1191.84,184.5,8.7988,0.9131,29.4,31.56,302779.1537

In [3]:
# the index is marked as datetime object
forex.index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13',
               '2020-08-14', '2020-08-17', '2020-08-18', '2020-08-19',
               '2020-08-20', '2020-08-21'],
              dtype='datetime64[ns]', name='Date', length=5385, freq=None)

In [4]:
# if checked the elements in the index we see that they are timestamps
forex.index[1]

Timestamp('2000-01-04 00:00:00')

In [5]:
# let's gather some information about our dataframe
forex.info()
forex.describe()
# we can see that our series are not in numbers, but objects.
# as well, there are some observations marked with 'ND'
# (I assume they are a referrence for No Data)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5385 entries, 2000-01-03 to 2020-08-21
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AUD     5385 non-null   object
 1   EUR     5385 non-null   object
 2   NZD     5385 non-null   object
 3   GBP     5385 non-null   object
 4   BRL     5385 non-null   object
 5   CAD     5385 non-null   object
 6   CNY     5385 non-null   object
 7   DKK     5385 non-null   object
 8   HKD     5385 non-null   object
 9   INR     5385 non-null   object
 10  JPY     5385 non-null   object
 11  MYR     5385 non-null   object
 12  MXN     5385 non-null   object
 13  NOK     5385 non-null   object
 14  ZAR     5385 non-null   object
 15  SGD     5385 non-null   object
 16  KRW     5385 non-null   object
 17  LKR     5385 non-null   object
 18  SEK     5385 non-null   object
 19  CHF     5385 non-null   object
 20  TWD     5385 non-null   object
 21  THB     5385 non-null   object
 22  VEB     5385 non-null   object
dtypes: object(23)
memory usage: 1009.7+ KB

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
count,5385,5385,5385,5385,5385,5385,5385,5385,5385,5385,...,5385,5385,5385,5385,5385,5385,5385,5385,5385,5385
unique,3049,3279,2729,3551,4040,3222,2844,4594,893,2106,...,4668,3907,2957,3572,1853,4728,3219,714,1382,1016
top,ND,ND,ND,ND,ND,ND,8.2765,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,2.1446
freq,203,203,203,203,203,203,208,203,203,204,...,203,203,203,203,203,203,203,206,203,1208

In [6]:
# drop rows with 'ND's
# https://stackoverflow.com/a/14661768/11191302
forex = forex.drop(forex[forex.values == 'ND'].index)

In [7]:
# convert the values numeric
forex = forex.apply(pd.to_numeric)

In [8]:
# final check to see if the series are OK
forex.info()
forex.describe()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5172 entries, 2000-01-03 to 2020-08-21
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AUD     5172 non-null   float64
 1   EUR     5172 non-null   float64
 2   NZD     5172 non-null   float64
 3   GBP     5172 non-null   float64
 4   BRL     5172 non-null   float64
 5   CAD     5172 non-null   float64
 6   CNY     5172 non-null   float64
 7   DKK     5172 non-null   float64
 8   HKD     5172 non-null   float64
 9   INR     5172 non-null   float64
 10  JPY     5172 non-null   float64
 11  MYR     5172 non-null   float64
 12  MXN     5172 non-null   float64
 13  NOK     5172 non-null   float64
 14  ZAR     5172 non-null   float64
 15  SGD     5172 non-null   float64
 16  KRW     5172 non-null   float64
 17  LKR     5172 non-null   float64
 18  SEK     5172 non-null   float64
 19  CHF     5172 non-null   float64
 20  TWD     5172 non-null   float64
 21  THB     5172 non-null   float64
 22  VEB     5172 non-null   float64
dtypes: float64(23)
memory usage: 969.8 KB

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,0.776401,1.206302,0.671975,1.577529,2.627318,1.234779,7.195353,6.300841,7.781914,53.413941,...,7.157744,9.655624,1.477798,1127.919503,121.210506,7.951365,1.144487,31.704238,35.400152,7538.583913
std,0.147869,0.165008,0.117817,0.211503,0.838444,0.180804,0.808431,0.931572,0.027518,10.256636,...,1.291734,3.078815,0.186737,102.758636,27.522978,1.218071,0.247661,1.679128,4.548094,33066.299454
min,0.482800,0.827000,0.392000,1.149200,1.537500,0.916800,6.040200,4.660500,7.708500,38.480000,...,4.946700,5.615000,1.200700,903.200000,72.300000,5.834600,0.729600,28.500000,28.600000,0.649800
25%,0.691175,1.107600,0.626175,1.431700,1.959000,1.060500,6.490375,5.607250,7.756000,45.320000,...,6.015850,7.136100,1.346175,1070.640000,101.250000,6.872275,0.964600,30.260000,31.670000,1.923500
50%,0.760000,1.217150,0.690150,1.567000,2.352150,1.246100,6.878050,6.115700,7.778250,48.365000,...,6.856850,8.274750,1.405850,1129.760000,113.400000,7.809450,1.026900,31.600000,33.705000,4.289300
75%,0.892725,1.328200,0.752625,1.687025,3.175000,1.339625,8.276500,6.734700,7.799700,63.670000,...,8.368400,12.041125,1.672325,1184.000000,133.725000,8.830225,1.262425,32.950000,39.250000,6.284200
max,1.102600,1.601000,0.881400,2.110400,5.920400,1.612800,8.280000,9.005000,7.849900,76.950000,...,11.684200,19.040000,1.854000,1570.100000,193.000000,11.027000,1.825000,35.210000,45.820000,302779.153700

## b. GDP

In [9]:
'''
I learned from the source documentation that if I use 'squeeze=True' argument, I can acquire the data as a Series, instead of a Dataframe.
'''
# read the data
file = "./DATA/gdp_GBR.csv"
gdpGBP = pd.read_csv(file, index_col='Date', parse_dates=True, squeeze=True)

In [10]:
gdpGBP

Date
2000-01-01    100.905789
2000-02-01    100.885350
2000-03-01    100.825291
2000-04-01    100.731762
2000-05-01    100.610625
                 ...
2020-01-01     99.596489
2020-02-01     99.559074
2020-03-01     93.090995
2020-04-01     84.111275
2020-05-01     79.588906
Name: GDP, Length: 245, dtype: float64

In [11]:
# read the data
file = "./DATA/gdp_USA.csv"
gdpUSD = pd.read_csv(file, index_col='Date', parse_dates=True, squeeze=True)

In [12]:
gdpUSD

Date
2000-01-01    101.451842
2000-02-01    101.516006
2000-03-01    101.593712
2000-04-01    101.668688
2000-05-01    101.714968
                 ...
2020-01-01     99.951155
2020-02-01     99.970682
2020-03-01     95.038084
2020-04-01     91.904561
2020-05-01     90.264283
Name: GDP, Length: 245, dtype: float64

In [13]:
# concatanate two series and make them a dataframe to be merged with the previous one
gdp = pd.concat([gdpGBP, gdpUSD], axis=1, keys=['gdpGBP', 'gdpUSD'])
gdp

                gdpGBP      gdpUSD
Date
2000-01-01  100.905789  101.451842
2000-02-01  100.885350  101.516006
2000-03-01  100.825291  101.593712
2000-04-01  100.731762  101.668688
2000-05-01  100.610625  101.714968
...                ...         ...
2020-01-01   99.596489   99.951155
2020-02-01   99.559074   99.970682
2020-03-01   93.090995   95.038084
2020-04-01   84.111275   91.904561
2020-05-01   79.588906   90.264283

[245 rows x 2 columns]

In [14]:
# I got some help with merging
# https://stackoverflow.com/a/36293107/11191302
merged = pd.merge(forex, gdp, left_index=True, right_index=True, how='outer')
merged

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB,gdpGBP,gdpUSD
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.905789,101.451842
2000-01-03,0.6591,1.0155,0.5254,1.6270,1.8050,1.4465,8.2798,7.3290,7.7765,43.55,...,1.6563,1128.00,72.30,8.4430,1.5808,31.38,36.97,0.6498,NaN,NaN
2000-01-04,0.6562,1.0309,0.5198,1.6370,1.8405,1.4518,8.2799,7.2180,7.7775,43.55,...,1.6535,1122.50,72.65,8.3600,1.5565,30.60,37.13,0.6503,NaN,NaN
2000-01-05,0.6550,1.0335,0.5171,1.6415,1.8560,1.4518,8.2798,7.2080,7.7780,43.55,...,1.6560,1135.00,72.95,8.3530,1.5526,30.80,37.10,0.6515,NaN,NaN
2000-01-06,0.6540,1.0324,0.5145,1.6475,1.8400,1.4571,8.2797,7.2125,7.7785,43.55,...,1.6655,1146.50,72.95,8.3675,1.5540,31.75,37.62,0.6503,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-17,0.7211,1.1869,0.6547,1.3105,5.4734,1.3202,6.9318,6.2727,7.7503,74.74,...,1.3679,1184.17,183.13,8.6918,0.9058,29.38,31.15,293920.7455,NaN,NaN
2020-08-18,0.7235,1.1928,0.6588,1.3228,5.4845,1.3181,6.9215,6.2406,7.7501,74.62,...,1.3647,1184.74,184.23,8.6481,0.9029,29.39,31.16,289550.7506,NaN,NaN
2020-08-19,0.7234,1.1898,0.6607,1.3191,5.5045,1.3173,6.9192,6.2580,7.7500,74.85,...,1.3660,1181.06,186.10,8.6574,0.9114,29.37,31.25,291796.8124,NaN,NaN
2020-08-20,0.7178,1.1862,0.6519,1.3190,5.6370,1.3177,6.9143,6.2783,7.7500,75.01,...,1.3676,1187.66,184.35,8.7060,0.9082,29.42,31.41,296027.2710,NaN,NaN
2020-08-21,0.7156,1.1775,0.6533,1.3098,5.5949,1.3201,6.9179,6.3235,7.7502,74.92,...,1.3723,1191.84,184.50,8.7988,0.9131,29.40,31.56,302779.1537,NaN,NaN

## c. Current Account to GDP

In [15]:
# read the data
file = "./DATA/CAtoGDP.csv"
CAtoGDP = pd.read_csv(file, index_col='Date')
CAtoGDP

         GBR_Value  USA_Value
Date
Q4-1999  -1.734671  -3.300611
Q1-2000  -2.224836  -3.789797
Q2-2000  -2.542472  -3.762491
Q3-2000  -2.318003  -4.049449
Q4-2000  -1.971086  -4.072373
...            ...        ...
Q1-2019  -6.516039  -2.398563
Q2-2019  -3.895734  -2.394594
Q3-2019  -4.004894  -2.257979
Q4-2019  -1.652522  -1.918832
Q1-2020  -3.837938  -2.068833

[82 rows x 2 columns]

In [16]:
# drop the first row and start the series from 2000
CAtoGDP = CAtoGDP[1:]

In [17]:
# examine the index (not a datetime object)
CAtoGDP.index

Index(['Q1-2000', 'Q2-2000', 'Q3-2000', 'Q4-2000', 'Q1-2001', 'Q2-2001',
       'Q3-2001', 'Q4-2001', 'Q1-2002', 'Q2-2002', 'Q3-2002', 'Q4-2002',
       'Q1-2003', 'Q2-2003', 'Q3-2003', 'Q4-2003', 'Q1-2004', 'Q2-2004',
       'Q3-2004', 'Q4-2004', 'Q1-2005', 'Q2-2005', 'Q3-2005', 'Q4-2005',
       'Q1-2006', 'Q2-2006', 'Q3-2006', 'Q4-2006', 'Q1-2007', 'Q2-2007',
       'Q3-2007', 'Q4-2007', 'Q1-2008', 'Q2-2008', 'Q3-2008', 'Q4-2008',
       'Q1-2009', 'Q2-2009', 'Q3-2009', 'Q4-2009', 'Q1-2010', 'Q2-2010',
       'Q3-2010', 'Q4-2010', 'Q1-2011', 'Q2-2011', 'Q3-2011', 'Q4-2011',
       'Q1-2012', 'Q2-2012', 'Q3-2012', 'Q4-2012', 'Q1-2013', 'Q2-2013',
       'Q3-2013', 'Q4-2013', 'Q1-2014', 'Q2-2014', 'Q3-2014', 'Q4-2014',
       'Q1-2015', 'Q2-2015', 'Q3-2015', 'Q4-2015', 'Q1-2016', 'Q2-2016',
       'Q3-2016', 'Q4-2016', 'Q1-2017', 'Q2-2017', 'Q3-2017', 'Q4-2017',
       'Q1-2018', 'Q2-2018', 'Q3-2018', 'Q4-2018', 'Q1-2019', 'Q2-2019',
       'Q3-2019', 'Q4-2019', 'Q1-2020'],
      dtype='object', name='Date')

In [18]:
# I get the help of this post to convert the dates
# https://stackoverflow.com/questions/53898482/clean-way-to-convert-quarterly-periods-to-datetime-in-pandas/53898522#53898522
CAtoGDP.index = pd.to_datetime(CAtoGDP.index.str.replace(r'(Q\d)-(\d+)', r'\2-\1'))
CAtoGDP

            GBR_Value  USA_Value
Date
2000-01-01  -2.224836  -3.789797
2000-04-01  -2.542472  -3.762491
2000-07-01  -2.318003  -4.049449
2000-10-01  -1.971086  -4.072373
2001-01-01  -1.806949  -4.091941
...               ...        ...
2019-01-01  -6.516039  -2.398563
2019-04-01  -3.895734  -2.394594
2019-07-01  -4.004894  -2.257979
2019-10-01  -1.652522  -1.918832
2020-01-01  -3.837938  -2.068833

[81 rows x 2 columns]

In [19]:
# Indexes became datetime object
CAtoGDP.index

DatetimeIndex(['2000-01-01', '2000-04-01', '2000-07-01', '2000-10-01',
               '2001-01-01', '2001-04-01', '2001-07-01', '2001-10-01',
               '2002-01-01', '2002-04-01', '2002-07-01', '2002-10-01',
               '2003-01-01', '2003-04-01', '2003-07-01', '2003-10-01',
               '2004-01-01', '2004-04-01', '2004-07-01', '2004-10-01',
               '2005-01-01', '2005-04-01', '2005-07-01', '2005-10-01',
               '2006-01-01', '2006-04-01', '2006-07-01', '2006-10-01',
               '2007-01-01', '2007-04-01', '2007-07-01', '2007-10-01',
               '2008-01-01', '2008-04-01', '2008-07-01', '2008-10-01',
               '2009-01-01', '2009-04-01', '2009-07-01', '2009-10-01',
               '2010-01-01', '2010-04-01', '2010-07-01', '2010-10-01',
               '2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01', '2018-07-01', '2018-10-01',
               '2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01',
               '2020-01-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [20]:
# merge dataframes
merged2 = pd.merge(merged, CAtoGDP, left_index=True, right_index=True, how='outer')
merged2

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,LKR,SEK,CHF,TWD,THB,VEB,gdpGBP,gdpUSD,GBR_Value,USA_Value
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100.905789,101.451842,-2.224836,-3.789797
2000-01-03,0.6591,1.0155,0.5254,1.6270,1.8050,1.4465,8.2798,7.3290,7.7765,43.55,...,72.30,8.4430,1.5808,31.38,36.97,0.6498,NaN,NaN,NaN,NaN
2000-01-04,0.6562,1.0309,0.5198,1.6370,1.8405,1.4518,8.2799,7.2180,7.7775,43.55,...,72.65,8.3600,1.5565,30.60,37.13,0.6503,NaN,NaN,NaN,NaN
2000-01-05,0.6550,1.0335,0.5171,1.6415,1.8560,1.4518,8.2798,7.2080,7.7780,43.55,...,72.95,8.3530,1.5526,30.80,37.10,0.6515,NaN,NaN,NaN,NaN
2000-01-06,0.6540,1.0324,0.5145,1.6475,1.8400,1.4571,8.2797,7.2125,7.7785,43.55,...,72.95,8.3675,1.5540,31.75,37.62,0.6503,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-17,0.7211,1.1869,0.6547,1.3105,5.4734,1.3202,6.9318,6.2727,7.7503,74.74,...,183.13,8.6918,0.9058,29.38,31.15,293920.7455,NaN,NaN,NaN,NaN
2020-08-18,0.7235,1.1928,0.6588,1.3228,5.4845,1.3181,6.9215,6.2406,7.7501,74.62,...,184.23,8.6481,0.9029,29.39,31.16,289550.7506,NaN,NaN,NaN,NaN
2020-08-19,0.7234,1.1898,0.6607,1.3191,5.5045,1.3173,6.9192,6.2580,7.7500,74.85,...,186.10,8.6574,0.9114,29.37,31.25,291796.8124,NaN,NaN,NaN,NaN
2020-08-20,0.7178,1.1862,0.6519,1.3190,5.6370,1.3177,6.9143,6.2783,7.7500,75.01,...,184.35,8.7060,0.9082,29.42,31.41,296027.2710,NaN,NaN,NaN,NaN
2020-08-21,0.7156,1.1775,0.6533,1.3098,5.5949,1.3201,6.9179,6.3235,7.7502,74.92,...,184.50,8.7988,0.9131,29.40,31.56,302779.1537,NaN,NaN,NaN,NaN

## d. Libor Rates (Interest Rates for GBP and USD)

In [21]:
# read the data
file = "./DATA/libor_GBP.csv"
liborGBP = pd.read_csv(file, index_col='Date', parse_dates=True, squeeze=True)
liborGBP

Date
2001-01-02    5.81094
2001-01-03     6.0975
2001-01-04    5.57125
2001-01-05    5.37813
2001-01-08        5.5
               ...
2020-09-14     0.0535
2020-09-15    0.05088
2020-09-16    0.05013
2020-09-17     0.0515
2020-09-18    0.05263
Name: liborGBP, Length: 5144, dtype: object

In [22]:
# read the data
file = "./DATA/libor_USD.csv"
liborUSD = pd.read_csv(file, index_col='Date', parse_dates=True, squeeze=True)
liborUSD

Date
2001-01-02    6.65125
2001-01-03    6.65375
2001-01-04    6.09625
2001-01-05    6.01625
2001-01-08      6.015
               ...
2020-09-14    0.08388
2020-09-15    0.08325
2020-09-16     0.0825
2020-09-17    0.08225
2020-09-18    0.08313
Name: liborUSD, Length: 5144, dtype: object

In [23]:
# concatanate two series and make them a dataframe to be merged with the previous one
libor = pd.concat([liborGBP, liborUSD], axis=1)
libor[:11]

           liborGBP liborUSD
Date
2001-01-02  5.81094  6.65125
2001-01-03   6.0975  6.65375
2001-01-04  5.57125  6.09625
2001-01-05  5.37813  6.01625
2001-01-08      5.5    6.015
2001-01-09  5.34344  6.01125
2001-01-10      5.5    6.015
2001-01-11        6   6.0375
2001-01-12  6.12188    6.025
2001-01-15        6        .
2001-01-16  6.09844  6.17625

In [24]:
# Some of the values are in "."
# we need to change them and convert the series to numeric
# https://stackoverflow.com/a/56474682/11191302
libor = libor.apply(pd.to_numeric, errors='coerce')
libor.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5144 entries, 2001-01-02 to 2020-09-18
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   liborGBP  4984 non-null   float64
 1   liborUSD  4854 non-null   float64
dtypes: float64(2)
memory usage: 120.6 KB

In [25]:
# merged dataframes
merged3 = pd.merge(merged2, libor, left_index=True, right_index=True, how='outer')
merged3

,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,INR,...,CHF,TWD,THB,VEB,gdpGBP,gdpUSD,GBR_Value,USA_Value,liborGBP,liborUSD
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.905789,101.451842,-2.224836,-3.789797,NaN,NaN
2000-01-03,0.6591,1.0155,0.5254,1.6270,1.8050,1.4465,8.2798,7.3290,7.7765,43.55,...,1.5808,31.38,36.97,0.6498,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,0.6562,1.0309,0.5198,1.6370,1.8405,1.4518,8.2799,7.2180,7.7775,43.55,...,1.5565,30.60,37.13,0.6503,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,0.6550,1.0335,0.5171,1.6415,1.8560,1.4518,8.2798,7.2080,7.7780,43.55,...,1.5526,30.80,37.10,0.6515,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,0.6540,1.0324,0.5145,1.6475,1.8400,1.4571,8.2797,7.2125,7.7785,43.55,...,1.5540,31.75,37.62,0.6503,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05350,0.08388
2020-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05088,0.08325
2020-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05013,0.08250
2020-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05150,0.08225
2020-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05263,0.08313

In [26]:
# interpolation needs continuous datetime
# or numerical objects for index values
merged3.reset_index(level=0, inplace=True)
merged3

,Date,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,...,CHF,TWD,THB,VEB,gdpGBP,gdpUSD,GBR_Value,USA_Value,liborGBP,liborUSD
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.905789,101.451842,-2.224836,-3.789797,NaN,NaN
1,2000-01-03,0.6591,1.0155,0.5254,1.6270,1.8050,1.4465,8.2798,7.3290,7.7765,...,1.5808,31.38,36.97,0.6498,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-04,0.6562,1.0309,0.5198,1.6370,1.8405,1.4518,8.2799,7.2180,7.7775,...,1.5565,30.60,37.13,0.6503,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-05,0.6550,1.0335,0.5171,1.6415,1.8560,1.4518,8.2798,7.2080,7.7780,...,1.5526,30.80,37.10,0.6515,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-06,0.6540,1.0324,0.5145,1.6475,1.8400,1.4571,8.2797,7.2125,7.7785,...,1.5540,31.75,37.62,0.6503,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5464,2020-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05350,0.08388
5465,2020-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05088,0.08325
5466,2020-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05013,0.08250
5467,2020-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05150,0.08225
5468,2020-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05263,0.08313

In [27]:
# fill the missing values by interpolation
merged3.iloc[:, -6:] = merged3.iloc[:, -6:].interpolate()
merged3

,Date,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,...,CHF,TWD,THB,VEB,gdpGBP,gdpUSD,GBR_Value,USA_Value,liborGBP,liborUSD
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.905789,101.451842,-2.224836,-3.789797,NaN,NaN
1,2000-01-03,0.6591,1.0155,0.5254,1.6270,1.8050,1.4465,8.2798,7.3290,7.7765,...,1.5808,31.38,36.97,0.6498,100.904815,101.454898,-2.229799,-3.789371,NaN,NaN
2,2000-01-04,0.6562,1.0309,0.5198,1.6370,1.8405,1.4518,8.2799,7.2180,7.7775,...,1.5565,30.60,37.13,0.6503,100.903842,101.457953,-2.234762,-3.788944,NaN,NaN
3,2000-01-05,0.6550,1.0335,0.5171,1.6415,1.8560,1.4518,8.2798,7.2080,7.7780,...,1.5526,30.80,37.10,0.6515,100.902869,101.461009,-2.239725,-3.788517,NaN,NaN
4,2000-01-06,0.6540,1.0324,0.5145,1.6475,1.8400,1.4571,8.2797,7.2125,7.7785,...,1.5540,31.75,37.62,0.6503,100.901896,101.464064,-2.244688,-3.788091,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5464,2020-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.588906,90.264283,-3.837938,-2.068833,0.05350,0.08388
5465,2020-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.588906,90.264283,-3.837938,-2.068833,0.05088,0.08325
5466,2020-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.588906,90.264283,-3.837938,-2.068833,0.05013,0.08250
5467,2020-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.588906,90.264283,-3.837938,-2.068833,0.05150,0.08225
5468,2020-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.588906,90.264283,-3.837938,-2.068833,0.05263,0.08313

In [28]:
# drop rows where there is no data for GBP (or any forex)
merged3 = merged3[merged3.GBP.notna()]
merged3

,Date,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,...,CHF,TWD,THB,VEB,gdpGBP,gdpUSD,GBR_Value,USA_Value,liborGBP,liborUSD
1,2000-01-03,0.6591,1.0155,0.5254,1.6270,1.8050,1.4465,8.2798,7.3290,7.7765,...,1.5808,31.38,36.97,0.6498,100.904815,101.454898,-2.229799,-3.789371,NaN,NaN
2,2000-01-04,0.6562,1.0309,0.5198,1.6370,1.8405,1.4518,8.2799,7.2180,7.7775,...,1.5565,30.60,37.13,0.6503,100.903842,101.457953,-2.234762,-3.788944,NaN,NaN
3,2000-01-05,0.6550,1.0335,0.5171,1.6415,1.8560,1.4518,8.2798,7.2080,7.7780,...,1.5526,30.80,37.10,0.6515,100.902869,101.461009,-2.239725,-3.788517,NaN,NaN
4,2000-01-06,0.6540,1.0324,0.5145,1.6475,1.8400,1.4571,8.2797,7.2125,7.7785,...,1.5540,31.75,37.62,0.6503,100.901896,101.464064,-2.244688,-3.788091,NaN,NaN
5,2000-01-07,0.6548,1.0294,0.5160,1.6384,1.8310,1.4505,8.2794,7.2285,7.7783,...,1.5623,30.85,37.30,0.6508,100.900922,101.467119,-2.249651,-3.787664,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5444,2020-08-17,0.7211,1.1869,0.6547,1.3105,5.4734,1.3202,6.9318,6.2727,7.7503,...,0.9058,29.38,31.15,293920.7455,79.588906,90.264283,-3.837938,-2.068833,0.05088,0.08475
5445,2020-08-18,0.7235,1.1928,0.6588,1.3228,5.4845,1.3181,6.9215,6.2406,7.7501,...,0.9029,29.39,31.16,289550.7506,79.588906,90.264283,-3.837938,-2.068833,0.04838,0.08363
5446,2020-08-19,0.7234,1.1898,0.6607,1.3191,5.5045,1.3173,6.9192,6.2580,7.7500,...,0.9114,29.37,31.25,291796.8124,79.588906,90.264283,-3.837938,-2.068833,0.04925,0.08463
5447,2020-08-20,0.7178,1.1862,0.6519,1.3190,5.6370,1.3177,6.9143,6.2783,7.7500,...,0.9082,29.42,31.41,296027.2710,79.588906,90.264283,-3.837938,-2.068833,0.05063,0.08300
5448,2020-08-21,0.7156,1.1775,0.6533,1.3098,5.5949,1.3201,6.9179,6.3235,7.7502,...,0.9131,29.40,31.56,302779.1537,79.588906,90.264283,-3.837938,-2.068833,0.05150,0.08175

In [29]:
# there is not enough data for libor series at the beginning
# I drop the beginning rows of the whole dataframe
merged3 = merged3[merged3.liborGBP.notna()]
merged3

,Date,AUD,EUR,NZD,GBP,BRL,CAD,CNY,DKK,HKD,...,CHF,TWD,THB,VEB,gdpGBP,gdpUSD,GBR_Value,USA_Value,liborGBP,liborUSD
257,2001-01-02,0.5592,0.9465,0.4432,1.4977,1.9380,1.4963,8.2779,7.8845,7.8000,...,1.6075,33.000,43.79,0.7008,99.977643,100.815277,-1.815904,-4.084297,5.81094,6.65125
258,2001-01-03,0.5635,0.9473,0.4463,1.5045,1.9460,1.4982,8.2773,7.8750,7.8000,...,1.6025,33.078,43.70,0.7002,99.980866,100.807191,-1.824859,-4.076654,6.09750,6.65375
259,2001-01-04,0.5655,0.9448,0.4457,1.4930,1.9380,1.4985,8.2781,7.8991,7.7998,...,1.6115,33.000,43.53,0.6994,99.984089,100.799105,-1.833815,-4.069010,5.57125,6.09625
260,2001-01-05,0.5712,0.9535,0.4518,1.4990,1.9530,1.5003,8.2775,7.8260,7.7993,...,1.6025,32.927,43.26,0.6988,99.987312,100.791019,-1.842770,-4.061367,5.37813,6.01625
261,2001-01-08,0.5660,0.9486,0.4505,1.4969,1.9540,1.4944,8.2778,7.8705,7.7998,...,1.6076,32.850,42.95,0.6990,99.990535,100.782933,-1.851726,-4.053723,5.50000,6.01500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5444,2020-08-17,0.7211,1.1869,0.6547,1.3105,5.4734,1.3202,6.9318,6.2727,7.7503,...,0.9058,29.380,31.15,293920.7455,79.588906,90.264283,-3.837938,-2.068833,0.05088,0.08475
5445,2020-08-18,0.7235,1.1928,0.6588,1.3228,5.4845,1.3181,6.9215,6.2406,7.7501,...,0.9029,29.390,31.16,289550.7506,79.588906,90.264283,-3.837938,-2.068833,0.04838,0.08363
5446,2020-08-19,0.7234,1.1898,0.6607,1.3191,5.5045,1.3173,6.9192,6.2580,7.7500,...,0.9114,29.370,31.25,291796.8124,79.588906,90.264283,-3.837938,-2.068833,0.04925,0.08463
5447,2020-08-20,0.7178,1.1862,0.6519,1.3190,5.6370,1.3177,6.9143,6.2783,7.7500,...,0.9082,29.420,31.41,296027.2710,79.588906,90.264283,-3.837938,-2.068833,0.05063,0.08300
5448,2020-08-21,0.7156,1.1775,0.6533,1.3098,5.5949,1.3201,6.9179,6.3235,7.7502,...,0.9131,29.400,31.56,302779.1537,79.588906,90.264283,-3.837938,-2.068833,0.05150,0.08175

In [30]:
# examine the final data
merged3.info(), merged3.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4920 entries, 257 to 5448
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4920 non-null   datetime64[ns]
 1   AUD        4920 non-null   float64
 2   EUR        4920 non-null   float64
 3   NZD        4920 non-null   float64
 4   GBP        4920 non-null   float64
 5   BRL        4920 non-null   float64
 6   CAD        4920 non-null   float64
 7   CNY        4920 non-null   float64
 8   DKK        4920 non-null   float64
 9   HKD        4920 non-null   float64
 10  INR        4920 non-null   float64
 11  JPY        4920 non-null   float64
 12  MYR        4920 non-null   float64
 13  MXN        4920 non-null   float64
 14  NOK        4920 non-null   float64
 15  ZAR        4920 non-null   float64
 16  SGD        4920 non-null   float64
 17  KRW        4920 non-null   float64
 18  LKR        4920 non-null   float64
 19  SEK        4920 non-null   float64
 20  CHF        4920 non-null   float64
 21  TWD        4920 non-null   float64
 22  THB        4920 non-null   float64
 23  VEB        4920 non-null   float64
 24  gdpGBP     4920 non-null   float64
 25  gdpUSD     4920 non-null   float64
 26  GBR_Value  4920 non-null   float64
 27  USA_Value  4920 non-null   float64
 28  liborGBP   4920 non-null   float64
 29  liborUSD   4920 non-null   float64
dtypes: datetime64[ns](1), float64(29)
memory usage: 1.2 MB

(None,
                AUD          EUR          NZD          GBP          BRL  \
 count  4920.000000  4920.000000  4920.000000  4920.000000  4920.000000
 mean      0.786383     1.220803     0.682997     1.580702     2.668149
 std       0.144447     0.155491     0.109668     0.215830     0.839373
 min       0.482800     0.837000     0.399300     1.149200     1.537500
 25%       0.704675     1.118600     0.640600     1.427975     2.021950
 50%       0.764100     1.228750     0.695150     1.569000     2.389200
 75%       0.899050     1.333025     0.756400     1.714975     3.209675
 max       1.102600     1.601000     0.881400     2.110400     5.920400

                CAD          CNY          DKK          HKD          INR  ...  \
 count  4920.000000  4920.000000  4920.000000  4920.000000  4920.000000  ...
 mean      1.221935     7.139879     6.208932     7.781377    53.845028  ...
 std       0.175890     0.789855     0.853825     0.028063    10.329285  ...
 min       0.916800     6.040200     4.660500     7.708500    38.480000  ...
 25%       1.053200     6.465375     5.587150     7.755500    45.460000  ...
 50%       1.232750     6.847050     6.058000     7.775100    48.720000  ...
 75%       1.329800     8.082675     6.664250     7.799800    64.040000  ...
 max       1.612800     8.280000     8.890000     7.849900    76.950000  ...

                CHF          TWD          THB            VEB       gdpGBP  \
 count  4920.000000  4920.000000  4920.000000    4920.000000  4920.000000
 mean      1.116525    31.726995    35.153803    7924.671647    99.587670
 std       0.219637     1.709525     4.497721   33857.554034     3.110936
 min       0.729600    28.500000    28.600000       0.698800    79.588906
 25%       0.962400    30.200000    31.570000       2.144600    99.498920
 50%       1.012050    31.710000    33.340000       4.289300   100.036776
 75%       1.241150    32.980000    39.032500       6.284200   100.431762
 max       1.818500    35.210000    45.820000  302779.153700   103.064911

             gdpUSD    GBR_Value    USA_Value     liborGBP     liborUSD
 count  4920.000000  4920.000000  4920.000000  4920.000000  4920.000000
 mean     99.720588    -3.336478    -3.362211     2.182617     1.579345
 std       1.663608     1.224017     1.380993     2.100246     1.679446
 min      90.264283    -6.492008    -6.295718     0.048380     0.050750
 25%      99.507973    -4.050640    -4.604743     0.480630     0.159000
 50%      99.914284    -3.359743    -2.788938     0.630000     1.067500
 75%     100.382084    -2.437674    -2.165422     4.535625     2.314687
 max     101.845772    -0.557912    -1.718115     7.000000     6.875000

 [8 rows x 29 columns])

In [31]:
file = "./DATA/Merged.csv"
merged3.to_csv(file, index=False)